<section class="banner">
  <div class="banner__container">
    <div class="banner__row-text">
      <h1 class="main-text">
        {{ include.banner-h1-text }}<br /><span class="title--underline-blue"
          >Sandro Matter</span
        >
      </h1>
    </div>
    <div class="banner__row-image">
      <img
        class="main-image"
        src="{{ '/assets/img/sandromatter-portrait.png' | relative_url }}"
        alt="Portrait Sandro Matter"
      />
    </div>
    <div class="note__scroll">
      <div class="note__language">
        <a class="link" href="/">de</a>
        <span> | </span>
        <a class="link" href="/en">en</a>
      </div>
      <span>scroll down</span>
    </div>
  </div>
</section>
