---
permalink: /cv
layout: page
lang: en
title: Résumé.
---

<!-- Navigation -->
{% include cv_sidebar.html %}

<div class="cv__wrapper">
  <!-- Main content -->
  <main role="main" class="cv__main">
    <article>
      <section class="content__wrapper--full cv-header__wrapper">
        <h2 class="cv-header__title">
          Hi, I'm Sandro Matter.<br />
          Nice to meet you!
        </h2>
      </section>
      <section class="content__wrapper--600 introduction" id="introduction">
        <h2 class="margin--2">
          <span class="title--underline-yellow">Short introduction</span>
        </h2>
        <p>
          I am a multi-talented person and have been working in various
          marketing agencies for almost five years, besides riding my mountain
          bike – my other major passion next to marketing and the web.
        </p>
        <p>
          I have been employed in marketing agencies as a desktop publisher and
          online marketing specialist and had the opportunity to gain experience
          in these areas, as well as designer, photographer and camera operator.
          I have been working in the professional world for 9 years since I
          started my swiss apprenticeship as designer of digital and print
          media, in a printing and media company.
        </p>
        <p>
          Ever since I can remember, I have always been curious. In my opinion,
          constantly learning and experimenting is part of life just as much as
          it is part of business. I believe there is something new and exciting
          to discover and learn every day. Skills can be taught, personality is
          inherent. I love to keep learning, continue to challenge myself and do
          interesting things that matter to me. My credo is: Try. Fail. Improve.
          Because making mistakes, improving constantly and adapting is how you
          learn the best. As a person, I am calm and stay focused even in
          stressful situations.
        </p>
      </section>
      <section class="content__wrapper--600 background" id="background">
        <h2 class="margin--2">
          <span class="title--underline-yellow">My background</span>
        </h2>
        <p>
          After my obligatory education, I completed an apprenticeship as a
          designer of digital and print media at ZT Medien AG, working with
          tools such as the Adobe suite in the prepress departement.
          Subsequently I switched from the print departement to the digital
          agency of the media company, #ztplus. In these two years, I planned
          and realized online marketing campaigns, assisted in film productions,
          implemented web projects, organized photo shootings and consulted for
          the introduction of a new editorial system. In 2019, I started a
          part-time bachelor programme “Digital Business Management” at the
          University of Applied Sciences of the Grisons, which I expect to
          complete in summer 2022. Besides, I work part-time as an online
          marketing specialist at the advertising agency Stutz Kommunikation and
          freelance at the agency ADi AG.
        </p>
      </section>
      <section class="work" id="work">
        <div class="content__wrapper--600">
          <h2 class="margin--2">
            <span class="title--underline-yellow">Work</span>
          </h2>
        </div>
        <h3 class="content__wrapper--900">Web development</h3>
        <div class="content__wrapper--full">
          <ul>
            {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <h3 class="content__wrapper--900">Photography</h3>
        <div class="content__wrapper--full"></div>
        <h3 class="content__wrapper--900">Design</h3>
        <div class="content__wrapper--full"></div>
      </section>
    </article>
  </main>
</div>
