---
permalink: /cv/en
layout: page
lang: "en"
title: Portfolio.
pagination:
  enabled: true
---
<!-- 
// Navigation
{% include cv_sidebar_en.html %} 
-->

<div class="cv__wrapper">
  <!-- Main content -->
  <main role="main" class="cv__main">
    <article>
      <section class="content__wrapper--full cv-header__wrapper">
        <div class="cv-header__title">
          <h2 class="main-text">
            Hi, I'm Sandro Matter.<br />
            Nice to meet you!
          </h2>
        </div>
        <div class="note__scroll">
          <div class="note__language">
            <a class="link" href="/cv">de</a>
            <span> | </span>
            <a class="link" href="/cv/en">en</a>
          </div>
          <span>scroll down</span>
        </div>
      </section>
      <section class="content__wrapper--600 introduction" id="introduction">
        <h2 class="margin--2">
          <span class="title--underline-yellow">About me</span>
        </h2>
        <p>
          I am a multi-talented person and have been working in various
          marketing agencies for more than five years. Besides my job, I love riding my mountain
          bike – my other major passion next to marketing and the web.
        </p>
        <p>
          I have been employed in marketing agencies as a desktop publisher and
          online marketing specialist and also had the opportunity to gain experience
          as media designer, photographer and camera operator.
          My professional career started 9 years ago, when I began my Swiss apprenticeship as designer of digital and print
          media.
        </p>
        <p>
          Ever since I can remember, I have always been curious. In my opinion,
          constantly learning and experimenting is part of life just as much as
          it is part of business. I believe there is something new and exciting
          to discover and learn every day. I love to keep learning, continue to challenge myself and do
          interesting things that matter to me. My motto is: Try. Fail. Improve.
          Because making mistakes, improving constantly, and adapting is how you
          learn best. As a person, I am calm and stay focused even in
          stressful situations.
        </p>
      </section>
      <section class="work" id="work">
        <h2 class="margin--2 content__wrapper--600">
          <span class="title--underline-yellow">My work</span>
        </h2>
        <div class="content__wrapper--full">
          <div
            class="post-archive__grid"
            itemscope
            itemtype="http://schema.org/Blog"
            data-columns
          >
          {% if page.lang == "en"%} 
            {% for post in site.posts %}
              {% if post.lang == "en" %}
                <!-- The tag below includes the markup for each post - partials/post-archive.html -->
                {% include post-archive.html %}
              {% endif %}
            {% endfor %}
          {% endif %}
          </div>
        </div>
      </section>
      <section class="content__wrapper--600" id="contact">
        <h2 class="margin--2">
          <span class="title--underline-yellow">Contact</span>
        </h2>
        <p>
          I would be happy to hear from you. Please contact me via email or LinkedIn.
        </p>
        <div class="contact">
          <a href="mailto:hey@sandromatter.ch"
            >hey@sandromatter.ch</a
          >
          <a href="https://www.linkedin.com/in/sandromatter/en" target="_blank"
            >LinkedIn</a
          >
        </div>
    </article>
  </main>
</div>
