.header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 4px solid blue;

  /* Shadow Nav */
  -webkit-box-shadow: 2px 9px 17px 0px rgba(110, 110, 110, 0.25);
  -moz-box-shadow: 2px 9px 17px 0px rgba(17, 17, 17, 0.25);
  box-shadow: 2px 9px 17px 0px rgba(110, 110, 110, 0.25);
}

@include large-breakpoint {
  .header {
    height: 65px;
    justify-content: left;
  }
}

.link {
  text-decoration: none;
  color: var(--black);

  &:focus {
    text-decoration: none;
    color: var(--grey);
  }
}

.logo {
  font: var(--font);
  font-size: 1.75rem;
  margin: 0;
  padding: 0 50px;
}

.full-text {
  display: none;
}

@include large-breakpoint {
  .short-text {
    display: none;
  }
  .full-text {
    display: inline-block;
  }
}
