/* 
----------------
    Wrapper
----------------
*/

.white {
  background-color: $background;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;

  @include medium-breakpoint {
    margin: 0 auto;
    padding: 1rem;
  }

  @include large-breakpoint {
    margin: 0 auto;
    padding: 2rem;
  }
}

/* 
--------------------------
    Layout & Global
--------------------------
*/

.link {
  color: $black;

  &:hover {
    color: var(--grey);
  }

  &:focus {
    color: var(--yellow);
  }
}

.underlineYellow > h2 {
  display: inline-block;
  position: relative;
  border-bottom: 1rem solid var(--yellow);
}

.contactLinks {
  display: flex;
  flex-wrap: wrap;

  a {
    padding: 0 10px;

    &:first-child {
      padding: 0 10px 0 0;
    }
    &:last-child {
      padding: 0 0 0 10px;
    }
  }
}
